aside.logo {
    background-color: var(--bg-clean);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 200px;
    margin-top: 10px;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}