.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
  position: relative;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 80px !important;
  height: auto;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 10px;
}

.sidebar.collapsed .logo-container {
  flex-direction: column;
}

.sidebar.collapsed .menu-toggle {
  position: static;
  margin-top: 10px;

}

.menu {
  flex-grow: 1;
  overflow: hidden;
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  color: #115950;
}

.menu-link {
  text-decoration: none;
  color: #495057;
  margin-left: 10px;
}


.menu-link:hover {
  color: #115950;
}

.submenu-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.submenu-item {
  padding: 5px 0;
  text-decoration: none;
  color: #495057;
}

.submenu-item:hover {
  color: #115950;
}

.menu-footer {
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  flex-shrink: 0;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 10px;
  color: #6c757d;
}

.user-name, .user-email {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }
}

.right-border {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #e2e6ea;
}
